<div class="remove-container container-block">
  <h2 class="container-block-title">
    Referees
  </h2>
  <ol>
  <li> Dr. Samuel Ruhiu - UoN School of Computing and Informatics. 0727791212 </li>
  <li> Fred Mutungi - Procurement Manager, DKT International. 0724153131 </li>
  <li>Mohammed Rashid - Aeronautical Engineer - Kenya Army. 0724153131 </li>
</ol> 
  <ul class="list-unstyled interests-list">
    
     <li><a class="github-button" href="https://github.com/detroy94/" data-icon="octicon-star" data-show-count="true" aria-label="Star detroy94/online-cv on GitHub">Star</a>
     <script async defer src="https://buttons.github.io/buttons.js"></script>
  </ul>
</div><!--//About-->


